<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">

    <!-- begin SEO -->
    <title>Projects - Colin ZHANG</title>
    <meta property="og:locale" content="en-US">
    <meta property="og:site_name" content="Colin ZHANG">
    <meta property="og:title" content="Projects - Colin ZHANG">
    <link rel="canonical" href="https://korinz.github.io/">
    <meta property="og:url" content="https://korinz.github.io/">
    <meta property="og:description" content="Programming projects">
    <script
        type="application/ld+json"> { "@context" : "http://schema.org", "@type" : "Person", "name" : "Colin ZHANG", "url" : "https://korinz.github.io", "sameAs" : null } </script>
    <!-- end SEO -->

    <script>
        (function () {
            var isDark = localStorage.getItem('darkMode') === 'true';
            document.documentElement.style.setProperty('color-scheme', isDark ? 'dark' : 'light');
            document.documentElement.style.setProperty('--bg-color', isDark ? '#333' : '#fff');
            document.documentElement.style.setProperty('--text-color', isDark ? '#fff' : '#333');
        })();
    </script>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta property="og:image" content="static/web_screenshot.png">
    <link href="../../static/home_2.png" rel="icon">
    <link href="../../static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body class="theme-loaded <script>document.write(localStorage.getItem('darkMode') === 'true' ? 'dark' : '')</script>">
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg">
                <header>
                    <h1><a href="../../index.html">COLIN <img src="/static/home_2.png" alt="Home Icon"
                                class="home-icon"></a></h1>
                    <div class="top-bar">
                        <span>Projects / プロジェクト</span>
                        <button id="theme-toggler" class="theme-button">
                            <i id="theme-icon" class="fas fa-moon" style="color: #ffbe3c;"></i>
                        </button>
                    </div>

                    <ul style="list-style-type: none; padding: 0;" class="social-links">
                        <li>
                            <a class="mr-1" href="https://github.com/KORINZ">
                                <i aria-hidden="true" class="fab fa-github" title="GitHub"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://www.linkedin.com/in/colin-z/">
                                <i aria-hidden="true" class="fab fa-linkedin" title="LinkedIn"></i>
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://orcid.org/0009-0009-2411-9640">
                                <i aria-hidden="true" class="fab fa-orcid" title="ORCID"></i>
                                ORCID
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://scholar.google.com/citations?user=npFc4MMAAAAJ&hl=en">
                                <i aria-hidden="true" class="fab fa-google-scholar" title="Google Scholar"></i>
                                Google Scholar
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://stackoverflow.com/users/19939086/%e3%82%b3%e3%83%aa%e3%83%b3">
                                <i aria-hidden="true" class="fab fa-stack-overflow" title="Stack Overflow"></i>
                                Stack Overflow
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://twitter.com/japan_korin">
                                <i aria-hidden="true" class="fa-brands fa-x-twitter" title="X"></i>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://www.strava.com/athletes/107165964">
                                <i aria-hidden="true" class="fab fa-strava" title="Strava"></i>
                                Strava
                            </a>
                        </li>
                    </ul>
                </header>

                <button id="sidebar-toggler" class="btn btn-sm collapsed d-lg-none menu-button"
                    data-bs-toggle="collapse" data-bs-target="#nav">
                    <i id="sidebar-icon" class="fas fa-bars"></i>
                </button>

                <nav class="collapse d-lg-block" id="nav">
                    <hr>
                    <ul class="fa-ul">
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="../../index.html">🏠 Home</a> / <a href="../ja/index.html">🗾 ホーム</a></li>
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="research.html">⚗️ Research / 研究</a></li>
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="gallery.html">🖼️ Gallery / ギャラリー</a></li>
                    </ul>
                    <hr>
                    <div class="centered-container">
                        <div id="calendar"></div>
                    </div>
                    <hr>
                    Built with <a href="https://getbootstrap.com/"><i class="fa-brands fa-bootstrap"></i></a>
                    <a href="https://fontawesome.com/"><i class="fa-solid fa-font-awesome"></i></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><i
                            class="fa-brands fa-square-js"></i></a>
                    <footer>
                        <span style="font-size: smaller;"><i class="fa-regular fa-copyright"></i> 2025
                            <a href="https://github.com/KORINZ">KORINZ</a>. All rights reserved.</span>
                    </footer>
                </nav>

            </aside>

            <main class="col-lg">

                <h2><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" style="text-decoration: none;"><i
                            class="fa-brands fa-square-js" style="color: #f4d640;"></i></a> Yet Another
                    Web-based Basic Calculator (再びWEB電卓)
                </h2>
                <div id="wrapper">
                    <div id="calculator">
                        <div id="display"></div>
                        <div id="buttons">
                            <div class="row">
                                <button class="custom-button calc-button" onclick="clearDisplay()">
                                    <strong>AC <i class="fa-solid fa-trash-can"></i></strong>
                                </button>
                                <button class="custom-button calc-button" onclick="deleteNumber()">
                                    <i class="fa-solid fa-delete-left"></i>
                                </button>
                                <button class="custom-button calc-button" onclick="changeSign()">
                                    <i class="fa-solid fa-plus-minus"></i>
                                </button>
                                <button class="custom-button calc-button" onclick="calculateSquareRoot()">
                                    <i class="fa-solid fa-square-root-variable"></i>
                                </button>
                            </div>
                            <div class="row">
                                <button class="custom-button calc-button" onclick="appendNumber('7')"><i
                                        class="fa-solid fa-7"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('8')"><i
                                        class="fa-solid fa-8"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('9')"><i
                                        class="fa-solid fa-9"></i></button>
                                <button class="custom-button calc-button operator-button"
                                    onclick="chooseOperator('/')"><i class="fa-solid fa-divide"></i></button>
                            </div>
                            <div class="row">
                                <button class="custom-button calc-button" onclick="appendNumber('4')"><i
                                        class="fa-solid fa-4"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('5')"><i
                                        class="fa-solid fa-5"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('6')"><i
                                        class="fa-solid fa-6"></i></button>
                                <button class="custom-button calc-button operator-button"
                                    onclick="chooseOperator('*')"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <div class="row">
                                <button class="custom-button calc-button" onclick="appendNumber('1')"><i
                                        class="fa-solid fa-1"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('2')"><i
                                        class="fa-solid fa-2"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('3')"><i
                                        class="fa-solid fa-3"></i></button>
                                <button class="custom-button calc-button operator-button"
                                    onclick="chooseOperator('-')"><i class="fa-solid fa-minus"></i></button>
                            </div>
                            <div class="row">
                                <button class="custom-button calc-button" onclick="appendNumber('0')"><i
                                        class="fa-solid fa-0"></i></button>
                                <button class="custom-button calc-button" onclick="appendNumber('0.')"><span
                                        style="font-size:2em;">.</span></button>

                                <button class="custom-button calc-button" onclick="equalsPressed()"><i
                                        class="fa-solid fa-equals"></i></button>
                                <button class="custom-button calc-button operator-button"
                                    onclick="chooseOperator('+')"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="log-wrapper">
                        <textarea id="calculation-log" class="calculation-log" rows="10" cols="30" readonly></textarea>
                        <div class="clear-log-button-container">
                            <button class="custom-button" onclick="clearLog()">Clear Log <i
                                    class="fa-solid fa-eraser"></i></button>
                            <button class="custom-button" id="download-log-button" onclick="downloadLog()">Download
                                <i class="fa-solid fa-file-lines"></i></button>

                        </div>
                    </div>
                </div>
                <br>

                <div class="explanation">
                    <details open>
                        <summary><span style="font-size: 1.17em; font-weight: bold;">Instruction</span></summary>
                        <p>This calculator performs basic arithmetic. Click "<i class='fa-solid fa-delete-left'></i>" to
                            delete the right-most digit, "<i class='fa-solid fa-equals'></i>" for results, and "AC <i
                                class='fa-solid fa-trash-can'></i>" to start a new session. Use "Clear Log <i
                                class='fa-solid fa-eraser'></i>" button to clear the calculation log. Please note that
                            results are rounded to the 6th decimal place.</p>
                        <p>After obtaining a result, you can immediately select another operator to start a new
                            calculation with the previous result. If "<i class='fa-solid fa-equals'></i>" is pressed
                            multiple times, the calculator repeats the last operation with the last number and the
                            result of the previous calculation. You can change the sign of the current input number
                            using "<i class='fa-solid fa-plus-minus'></i>". This calculator uses local storage to save
                            the log data and also allows users to download the calculation log as a text file.</p>
                    </details>

                    <details>
                        <summary><span style="font-size: 1.17em; font-weight: bold;">取扱説明書</span></summary>
                        <p style="font-family: 'Noto Sans JP', sans-serif">この電卓は四則演算を行います。『<i
                                class='fa-solid fa-delete-left'></i>』をクリックすると、最右端の数字が削除され、『<i
                                class='fa-solid fa-equals'></i>』で結果が表示され、『AC <i
                                class='fa-solid fa-trash-can'></i>』で新しいセッションを開始できます。計算ログをクリアするには、『Clear Log <i
                                class='fa-solid fa-eraser'></i>』をクリックしてください。結果は6番目の小数位まで四捨五入されます。</p>
                        <p style="font-family: 'Noto Sans JP', sans-serif">
                            結果を得た後、前回の結果を使ってすぐに別の演算子を選択し、新しい計算を開始することができます。『<i
                                class='fa-solid fa-equals'></i>』を何度も押すと、計算機は最後の操作を前回の結果と最後の数字で繰り返します。現在の入力数字の符号を変更する関数『<i
                                class='fa-solid fa-plus-minus'></i>』も用意しています。この計算機はローカルストレージを使用してログデータを保存し、ユーザーが計算ログをテキストファイルとしてダウンロードすることも可能です。
                        </p>
                    </details>
                </div>

                <br>

                <h2><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" style="text-decoration: none;"><i
                            class="fa-brands fa-square-js" style="color: #e6d35a;"></i></a> Tic-Tac-Toe AI (三目並べ AI)
                </h2>
                <div class="game-container">
                    <div id="board"></div>
                    <div id="game-result-container">
                        <p id="game-result"></p>
                    </div>
                    <button class="custom-button" onClick="resetBoard()">Restart <i
                            class="fa-solid fa-rotate-left"></i></button>
                </div>
                <div class="explanation">
                    <details open>
                        <summary><span style="font-size: 1.17em; font-weight: bold;">How does this game work?</span>
                        </summary>
                        <p>This project uses a popular board game, Tic-Tac-Toe, to demonstrate an artificial
                            intelligence (AI)
                            algorithm called Minimax. In Tic-Tac-Toe, two players take turns marking spaces in a 3x3
                            grid with their symbol (either 'X' or 'O'). The goal is to be the first to get three of your
                            symbols in a row, either horizontally, vertically, or diagonally.</p>
                        <p>Here, you play as 'X', and your opponent, the AI, plays as 'O'. You start the game by
                            clicking on any empty square to place your 'X'. The AI then calculates its move and places
                            an 'O' on the board. It's worth noting that the AI uses a technique called Alpha-Beta
                            pruning as part of the Minimax algorithm. This technique assumes optimal play from both
                            players. Tic-Tac-Toe, despite its simplicity, offers a wide array of gameplay possibilities:
                            there are 255,168 total possible games, reduced to 26,830 when considering unique games up
                            to rotations and reflections. With the ability to analyze all these scenarios, the AI is
                            capable of responding with the best move. Consequently, you can never win against this
                            perfect AI; the best outcome you can achieve is a draw if you play optimally. Good luck!</p>
                    </details>

                    <details>
                        <summary><span style="font-size: 1.17em; font-weight: bold;">What is Minimax?</span>
                        </summary>
                        <p>Minimax is a type of decision-making algorithm in artificial intelligence and game
                            theory, often used for making decisions in turn-based, adversarial games like
                            Tic-Tac-Toe or
                            Chess.</p>
                        <p>Here's a brief rundown of how the Minimax algorithm works in this game:</p>
                        <ul>
                            <li><b>Terminal state:</b> The algorithm checks if the current game state is a terminal
                                state, meaning the game has ended either with a win for 'X' or 'O', or a draw. If it
                                is,
                                the game's utility (value) is calculated: 'X' wins give a utility of 1, 'O' wins
                                give a
                                utility of -1, and a draw gives a utility of 0.</li>
                            <li><b>Maximizing and Minimizing:</b> The algorithm alternates between the maximizing
                                player
                                ('X') and the minimizing player ('O'). The maximizing player aims for the highest
                                score,
                                and the minimizing player aims for the lowest score.</li>
                            <li><b>Recursion:</b> The algorithm recurses through each possible action, generating a
                                game
                                tree. Each node in the tree represents a possible state of the game after a number
                                of
                                moves. The algorithm evaluates each possible future state until it reaches a
                                terminal
                                state or the maximum search depth.</li>
                            <li><b>Pruning:</b> To speed up the search process, the algorithm uses a technique
                                called
                                alpha-beta pruning. This technique avoids exploring branches of the game tree that
                                we
                                already know are not going to be selected. It also assumes that the opponent (the
                                human player, in this case) will always make the optimal blocking move if given the
                                opportunity.</li>
                        </ul>
                        <p>After considering all possible future states up to a certain depth, the algorithm chooses
                            the
                            move that leads to the best possible outcome.</p>
                    </details>
                </div>

                <br>

                <h2><a href="https://www.python.org/" style="text-decoration: none;"><i class="fa-brands fa-python"></i>
                    </a>Selected Projects (主なプロジェクト)
                </h2>
                <ol start="0">
                    <li><a href="https://github.com/KORINZ/nhk-news-scraper-gui">NHK News Web Easy Scraper
                            <i class="fas fa-external-link-alt"></i></a>: 📰 Scraping news articles from NHK News
                        Web
                        Easy and sending a customized quiz to students via LINE Messaging API. It also came with
                        GUI.
                    </li>
                    <li><a href="https://github.com/KORINZ/sudoku-backtracking-animation">Sudoku Game with
                            Backtracking
                            Algorithm Animation
                            <i class="fas fa-external-link-alt"></i></a>: 🔢 ナンプレ×バックトラッキング A classic Sudoku game
                        implementation in Python using the Pygame library that can play a backtracking animation.
                    </li>
                    <li><a href="https://github.com/KORINZ/athlete-numbers-generator">Athlete Numbers Generator
                            <i class="fas fa-external-link-alt"></i></a>: 🏃‍♀️ (ゼッケンジェネレーター) A program
                        automatically
                        generates competition numbers for athletes based on their names, numberings, starting times,
                        and
                        sponsors.
                    </li>
                    <li><a href="https://github.com/KORINZ/screen-region-ocr-gui">
                            Screen Region OCR GUI
                            <i class="fas fa-external-link-alt"></i></a>: 📸 This Python application allows users to
                        perform Optical Character Recognition (OCR) on a selected region of the screen or an
                        imported
                        image.
                    </li>
                    <li><a href="https://github.com/KORINZ/entry-sheet-auto-filler">Entry Sheet Auto Filler
                            <i class="fas fa-external-link-alt"></i></a>: 📝 (エントリーシートオートフィラー) A program that
                        automatically fills entry sheet with personal information.
                    </li>
                    <li><a href="https://github.com/KORINZ/translator-deepl-gtts">Translation and Text-to-Speech
                            Tool
                            <i class="fas fa-external-link-alt"></i></a>: 🔊 This project contains a script for
                        translating text or documents from one language to another using the DeepL API, and a
                        text-to-speech tool for converting translated text to audio using Google Text-to-Speech
                        (gTTS).
                    </li>
                    <li><a href="https://github.com/KORINZ/strava-data-visualization-tool">Strava Data Visualization
                            Tool
                            <i class="fas fa-external-link-alt"></i></a>: 🏃 This Python tool fetches and visualizes
                        your Strava activity data. You can use it to analyze your running, cycling, swimming, etc.
                        activities.
                    </li>
                    <li><a href="https://github.com/KORINZ/scale-bar-addition-tool">Scale Bar Addition Tool
                            <i class="fas fa-external-link-alt"></i></a>: 🔬 This tool allows you to add a scale bar to
                        microscope images in the .tif format.
                </ol>

                <br>

                <h2><i class=" fa-solid fa-code"> <i class="fa-solid fa-bug"></i></i>
                    Preparing (準備中)
                </h2>
                <div class="language-plaintext highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight"><code class="command">from __future__ import braces</code></pre>
                    </div>
                </div>

                <h2>日本語ニュース スクレイピング* (deprecated)</h2>
                <div id="newsBox"
                    style="width: 100%; height: 375px; overflow: auto; border: 1px solid black; padding: 10px;">
                    <h2 style="font-size: 2.5rem; margin-bottom: 20px; text-align: center;">NHK NEWS WEB EASY スクレイパー
                    </h2>
                    <p style=" font-size: 1rem;">このツールは、<a
                            href="https://www3.nhk.or.jp/news/easy/">NHKやさしいことばニュース</a>のウェブサイトから簡易化された日本語のニュース記事を取得し表示するのに役立ちます。ニュースの内容だけでなく、重要な語彙とその発音を抽出し、可能な場合には辞書の定義も提供します。
                    </p>
                    <p style="font-size: 1rem;">始めるには、『作成』ボタンをクリックするだけです。また、『コピー』ボタンを使って内容をクリップボードにコピーすることもできます。</p>
                    <p style="font-size: 1rem;">
                        なお、ニュースの更新期間中は、ニュース取得機能が正しく動作しない場合があります。また、『作成』機能は、NHK NEWS
                        WEB EASYウェブサイトの最新10件の見出しからランダムに1つの記事を抽出することにご注意ください。
                    </p>
                    <p style="font-size: 1rem;">*2025年10月1日以降のニュースについては、NHK ONEの変更により、利用できなくなりました。
                    </p>
                </div>

                <button id="fetch-news-btn" class="custom-button">作成</button>
                <button id="copy-news-btn" class="custom-button">コピー</button>
                <span id="copy-message"></span>
                <p style="font-size: 0.8rem;">
                    また、このツールのPythonで開発された使いやすいグラフィカルインターフェース版もご覧いただけます。この<a
                        href="https://github.com/KORINZ/nhk-news-scraper-gui">GitHubリポジトリ</a>でチェックしてみてください。
                    <br>
                    すべてのニュースコンテンツは、NHK（日本放送協会）によって著作権が保護されています。
                    <br>
                    「NEWS WEB EASY」では、三省堂の『例解小学国語辞典第5版』を使っています。
                    辞書の著作権は、辞書を作った株式会社三省堂にあります。
                </p>

            </main>
        </div>
    </div>


    <a href="#" id="back-to-top" style="display: none;" class="back-to-top custom-button" role="button">
        <i class="fas fa-chevron-up"></i>
    </a>
    <script src="../../js/tic-tac-toe.js"></script>
    <script src="../../js/calculator.js"></script>
    <script src="../../js/change-theme.js"></script>
    <script src="../../js/sidebar-toggle.js"></script>
    <script src="../../js/get-nhk-news.js"></script>
    <script src="../../js/copy-code.js"></script>

    <script src="../../js/calendar.js"></script>
    <script src="../../js/back-to-top-toggle.js"></script>
    <script>document.addEventListener('DOMContentLoaded', function () {
            let lastTouchEnd = 0;
            let buttons = document.querySelectorAll('.calc-button');

            buttons.forEach(button => {
                button.addEventListener('touchend', function (event) {
                    let now = (new Date()).getTime();
                    if (now - lastTouchEnd <= 180) {
                        event.preventDefault();
                    }
                    lastTouchEnd = now;
                }, false);
            });
        });
    </script>


</body>

</html>