<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta property="og:description" content="KORIN's Gallery">
    <meta property="og:image" content="static/web_screenshot.png">
    <meta property="og:title" content="Research - KORIN">
    <link href="https://upload.wikimedia.org/wikipedia/commons/3/34/Home-icon.svg" rel="icon">
    <link href="../../static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <title>Research - KORIN</title>
</head>

<body
    class="<script>localStorage.getItem('darkMode') === 'true' ? document.write('dark') : document.write('')</script>">
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg">
                <header>
                    <h1><a href="../../index.html">KORIN</a></h1>
                    <div class="top-bar">
                        <span>Research</span>
                        <button id="theme-toggler" class="theme-button">
                            <i id="theme-icon" class="fas fa-moon"></i>
                        </button>
                    </div>

                    <ul style="list-style-type: none; padding: 0;" class="social-links">
                        <li>
                            <a class="mr-1" href="https://github.com/KORINZ">
                                <i aria-hidden="true" class="fab fa-github" title="GitHub"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://www.linkedin.com/in/colin-z/">
                                <i aria-hidden="true" class="fab fa-linkedin" title="LinkedIn"></i>
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://stackoverflow.com/users/19939086/%e3%82%b3%e3%83%aa%e3%83%b3">
                                <i aria-hidden="true" class="fab fa-stack-overflow" title="Stack Overflow"></i>
                                Stack Overflow
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://twitter.com/japan_korin">
                                <i aria-hidden="true" class="fa-brands fa-x-twitter" title="X"></i>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://www.strava.com/athletes/107165964">
                                <i aria-hidden="true" class="fab fa-strava" title="Strava"></i>
                                Strava
                            </a>
                        </li>
                    </ul>
                </header>

                <button id="sidebar-toggler" class="btn btn-sm collapsed d-lg-none menu-button"
                    data-bs-toggle="collapse" data-bs-target="#nav">
                    <i id="sidebar-icon" class="fas fa-bars"></i>
                </button>

                <nav class="collapse d-lg-block" id="nav">
                    <hr>
                    <ul class="fa-ul">
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="../../index.html">🏠 Home</a> / <a href="../ja/index.html">🗾 ホーム</a></li>
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="projects.html">🛠️ Projects</a></li>
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="gallery.html">🖼️ Gallery</a></li>
                    </ul>
                    <hr>
                    <div class="centered-container">
                        <div id="calendar"></div>
                    </div>
                    <hr>
                    Built with <a href="https://getbootstrap.com/"><i class="fa-brands fa-bootstrap"></i></a>
                    <a href="https://fontawesome.com/"><i class="fa-solid fa-font-awesome"></i></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><i
                            class="fa-brands fa-square-js"></i></a>
                    <footer>
                        <span style="font-size: smaller;"><i class="fa-regular fa-copyright"></i> 2024 KORIN. All rights
                            reserved.</span>
                    </footer>
                </nav>

            </aside>

            <main class="col-lg">
                <h2>Master's Research Project - 3D Bioprinting (3Dバイオプリンティング) <a
                        href="https://en.wikipedia.org/wiki/3D_bioprinting"><i class="fa-brands fa-wikipedia-w"></i></a>
                </h2>
                <h3><i class="fa-solid fa-file-pdf"></i></i> Research Summary Slides (2023/06/24)</h3>
                <a class="custom-button" href="../../assets/research_summary.pdf" target="_blank">
                    Open in new tab
                    <i class="fas fa-external-link-alt ms-1"></i>
                </a>
                <iframe class="pdf-viewer"
                    src="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://raw.githubusercontent.com/KORINZ/KORINZ.github.io/main/assets/research_summary.pdf"
                    style="height:600px;"></iframe>

                <br>

                <h3><i class="fa-solid fa-file-pdf"></i></i> Research Poster (2023/07/06)</h3>
                <a class="custom-button" href="../../assets/research_poster.pdf" target="_blank">
                    Open in new tab
                    <i class="fas fa-external-link-alt ms-1"></i>
                </a>
                <iframe class="pdf-viewer"
                    src="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://raw.githubusercontent.com/KORINZ/KORINZ.github.io/main/assets/research_poster.pdf"
                    style="height:600px;"></iframe>

                <br>

                <h3><i class="fa-solid fa-file-pdf"></i></i> Research Abstract (Part I, 2022/08/10)</h3>
                <a class="custom-button" href="../../assets/research_abstract.pdf" target="_blank">
                    Open in new tab
                    <i class="fas fa-external-link-alt ms-1"></i>
                </a>
                <iframe class="pdf-viewer"
                    src="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://raw.githubusercontent.com/KORINZ/KORINZ.github.io/main/assets/research_abstract.pdf"
                    style="height:600px;"></iframe>

                <a href="#" id="back-to-top" style="display: none;" class="back-to-top custom-button" role="button">
                    <i class="fas fa-chevron-up"></i>
                </a>
            </main>

        </div>
    </div>


    <script src="../../js/change-theme.js"></script>
    <script src="../../js/sidebar-toggle.js"></script>
    <script src="../../js/calendar.js"></script>
    <script src="../../js/back-to-top-toggle.js"></script>


</body>

</html>