<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">

    <!-- begin SEO -->
    <title>ホームページ - チョウ コリン</title>
    <meta property="og:locale" content="ja">
    <meta property="og:site_name" content="チョウ コリン">
    <meta property="og:title" content="チョウ コリン">
    <link rel="canonical" href="https://korinz.github.io/">
    <meta property="og:url" content="https://korinz.github.io/">
    <meta property="og:description" content="自己紹介">
    <script
        type="application/ld+json"> { "@context" : "http://schema.org", "@type" : "Person", "name" : "Colin ZHANG", "url" : "https://korinz.github.io", "sameAs" : null } </script>
    <!-- end SEO -->

    <script>
        (function () {
            var isDark = localStorage.getItem('darkMode') === 'true';
            document.documentElement.style.setProperty('color-scheme', isDark ? 'dark' : 'light');
            document.documentElement.style.setProperty('--bg-color', isDark ? '#333' : '#fff');
            document.documentElement.style.setProperty('--text-color', isDark ? '#fff' : '#333');
        })();
    </script>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta property="og:image" content="static/web_screenshot.png">
    <link href="../../static/home.png" rel="icon">
    <link href="../../static/styles.css" rel="stylesheet">
    <link rel="preload" href="static/GraphicalAbstract1.png" as="image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body class="theme-loaded <script>document.write(localStorage.getItem('darkMode') === 'true' ? 'dark' : '')</script>">
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg">
                <header>
                    <h1><a href="">コリン</a></h1>

                    <div class="top-bar">
                        <span>
                            <a href="../../index.html" class="language-link"
                                style="display: inline-flex; align-items: center;">
                                <strong>ENGLISH</strong>
                                <i class="fa-solid fa-language"
                                    style="font-size: 1.35em; margin-left: 0.2em; line-height: 1;"></i>
                            </a>
                        </span>

                        <button id="theme-toggler" class="theme-button">
                            <i id="theme-icon" class="fas fa-moon" style="color: #ffbe3c;"></i>
                        </button>
                    </div>

                    <ul style="list-style-type: none; padding: 0;" class="social-links">
                        <li>
                            <a class="mr-1" href="https://github.com/KORINZ">
                                <i aria-hidden="true" class="fab fa-github" title="GitHub"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://www.linkedin.com/in/colin-z/">
                                <i aria-hidden="true" class="fab fa-linkedin" title="LinkedIn"></i>
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://orcid.org/0009-0009-2411-9640">
                                <i aria-hidden="true" class="fab fa-orcid" title="ORCID"></i>
                                ORCID
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://scholar.google.com/citations?user=npFc4MMAAAAJ&hl=jp">
                                <i aria-hidden="true" class="fab fa-google-scholar" title="Google Scholar"></i>
                                Google Scholar
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://stackoverflow.com/users/19939086/%e3%82%b3%e3%83%aa%e3%83%b3">
                                <i aria-hidden="true" class="fab fa-stack-overflow" title="Stack Overflow"></i>
                                Stack Overflow
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://twitter.com/japan_korin">
                                <i aria-hidden="true" class="fa-brands fa-x-twitter" title="X"></i>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a class="mr-1" href="https://www.strava.com/athletes/107165964">
                                <i aria-hidden="true" class="fab fa-strava" title="Strava"></i>
                                Strava
                            </a>
                        </li>
                    </ul>
                </header>

                <button id="sidebar-toggler" class="btn btn-sm collapsed d-lg-none menu-button"
                    data-bs-toggle="collapse" data-bs-target="#nav">
                    <i id="sidebar-icon" class="fas fa-bars"></i>
                </button>

                <nav class="collapse d-lg-block" id="nav">
                    <hr>
                    <ul class="fa-ul">
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="../common/projects.html">🛠️ プロジェクト</a></li>
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="../common/research.html">⚗️ 研究</a></li>
                        <li data-marker="*"><span class="fa-li"><i class="fas fa-square"></i></span><a
                                href="../common/gallery.html">🖼️ ギャラリー</a></li>
                    </ul>
                    <hr>
                    <div class="centered-container">
                        <div id="calendar"></div>
                    </div>
                    <hr>
                    Built with <a href="https://getbootstrap.com/"><i class="fa-brands fa-bootstrap"></i></a>
                    <a href="https://fontawesome.com/"><i class="fa-solid fa-font-awesome"></i></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><i
                            class="fa-brands fa-square-js"></i></a>
                    <footer>
                        <span style="font-size: smaller;"><i class="fa-regular fa-copyright"></i> 2025
                            <a href="https://github.com/KORINZ">KORINZ</a>. All rights reserved.</span>
                    </footer>
                </nav>

            </aside>

            <main class="col-lg">

                <h2>私について</h2>

                <p>チョウ
                    コリン (ZHANG,
                    Colin)
                    といいます。大阪大学で博士課程の学生として、計算流体力学、機械学習の応用、3Dバイオプリンティングに取り組んでいます。幼い頃から科学と工学に魅了され、カリフォルニア大学サンタバーバラ校で機械工学を学ぶ中で計算問題に強い関心を持つようになりました。科学と計算の融合点に立ち、プログラミングを学び始めたことで、計算思考という強力な概念を含む新たな問題解決の世界が開けました。
                </p>

                <p>Python、C、JavaScript、HTML/CSS、そして機械学習のスキルを身につけるにつれ、プログラミングが従来の工学分野をいかに革新できるかを実感しています。特に、機械学習とバイオテクノロジーの組み合わせには大きな可能性があると考えています。文部科学省の国費留学生として日本に留学し、これらの分野をより深く探求する機会を得ながら、大阪大学附属図書館本館で学部生のサポートも行っています。
                </p>

                <p>研究以外でも、多様な興味を持っています。山登りに挑戦する喜びを感じ、旅行を通じて幅広い文化的視野と世界への理解を深めています。生涯学習を信念とし、常にオンラインコースで知識を広げています。リラックスするときは良書に没頭し、それが癒しと知恵の源となっています。これらの経験を通じて、学生、研究者、そして一個人として成長を続けています。
                </p>

                <p>どうぞよろしくお願いいたします。</p>

                <h2>日本語ニュース スクレイピング</h2>
                <div id="newsBox"
                    style="width: 100%; height: 375px; overflow: auto; border: 1px solid black; padding: 10px;">
                    <h2 style="font-size: 2.5rem; margin-bottom: 20px; text-align: center;">NHK NEWS WEB EASY スクレイパー
                    </h2>
                    <p style=" font-size: 1rem;">このツールは、<a
                            href="https://www3.nhk.or.jp/news/easy/">NHKやさしいことばニュース</a>のウェブサイトから簡易化された日本語のニュース記事を取得し表示するのに役立ちます。ニュースの内容だけでなく、重要な語彙とその発音を抽出し、可能な場合には辞書の定義も提供します*。
                    </p>
                    <p style="font-size: 1rem;">始めるには、『作成』ボタンをクリックするだけです。また、『コピー』ボタンを使って内容をクリップボードにコピーすることもできます。</p>
                    <p style="font-size: 1rem;">
                        なお、ニュースの更新期間中は、ニュース取得機能が正しく動作しない場合があります。また、『作成』機能は、NHK NEWS
                        WEB EASYウェブサイトの最新10件の見出しからランダムに1つの記事を抽出することにご注意ください。
                    </p>
                    <p style="font-size: 1rem;">*2024年10月1日以降のニュースについては、NHK NEWS WEB EASYウェブサイトの変更により、辞書機能は利用できなくなりました。
                    </p>
                </div>

                <button id="fetch-news-btn" class="custom-button">作成</button>
                <button id="copy-news-btn" class="custom-button">コピー</button>
                <span id="copy-message"></span>
                <p style="font-size: 0.8rem;">
                    また、このツールのPythonで開発された使いやすいグラフィカルインターフェース版もご覧いただけます。この<a
                        href="https://github.com/KORINZ/nhk-news-scraper-gui">GitHubリポジトリ</a>でチェックしてみてください。
                    <br>
                    すべてのニュースコンテンツは、NHK（日本放送協会）によって著作権が保護されています。
                    <br>
                    「NEWS WEB EASY」では、三省堂の『例解小学国語辞典第5版』を使っています。
                    辞書の著作権は、辞書を作った株式会社三省堂にあります。
                </p>

                <h2>研究分野 <a
                        href="https://ja.wikipedia.org/wiki/3D%E3%83%90%E3%82%A4%E3%82%AA%E3%83%97%E3%83%AA%E3%83%B3%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0"><i
                            class="fa-brands fa-wikipedia-w"></i></a></h2>
                <p>
                    3D押出式バイオプリンティングは、組織工学の分野で急速に発展しており、複雑で生物学的に構造化されたカスタマイズ可能な構造物を高精度で作製することを可能にしています。このプロセスにおける主な課題は、針の形状や押出パラメータの最適化、および細胞の生存率の維持です。数値解析や機械学習は、流体せん断応力、インクのレオロジー特性、押出速度などの要素を制御するためにますます活用されており、印刷適性の向上と印刷された構造内での細胞の生存率向上を目指しています。これらの計算手法と実験的検証の組み合わせは、組織再生や治療応用に向けた、より効果的なバイオプリンティングソリューションへの道を開くことが期待されています。
                </p>

                <figure style="text-align: center;">
                    <p><a href="https://doi.org/10.1080/17452759.2024.2400330">
                            <img src="../../static/GraphicalAbstract1.png" alt="GraphicalAbstract1" width="600">
                        </a>
                    </p>
                    <figcaption><strong>Figure
                            1. </strong>バイオプリンティング最適化のためのワークフロー:
                        レオロジー試験で得られたインクの特性を基に、針の押出しプロセスの数値シミュレーションが行われ、その後、ライブ/デッド細胞生存率解析が実施されます。機械学習モデルは、細胞の種類、インクの粘度、押出しパラメータを統合し、細胞生存率を予測・最適化します。
                        <a href="https://www.biorender.com/">BioRender</a>で作成。
                    </figcaption>
                </figure>

                <h2>論文</h2>
                <ol>
                    <li><b>Colin Zhang</b>, Kelum C. M. L. Elvitigala, Wildan Mubarok, Yasunori Okano, and Shinji Sakai.
                        (2024).
                        Machine learning-based prediction and optimisation framework for as-extruded cell viability in
                        extrusion-based 3D bioprinting. <i>Virtual and Physical Prototyping</i>, <i>19</i>(1), e2400330.
                        <br>
                        <a
                            href="https://doi.org/10.1080/17452759.2024.2400330">https://doi.org/10.1080/17452759.2024.2400330</a>.
                        <i class="fa-solid fa-unlock" style="color: #fba52d;"></i> Open Access.
                    </li>

                    <li>Mitsuyuki Hidaka, Masaru Kojima, <b>Colin Zhang</b>, Yasunori Okano, and Shinji Sakai. (2024).
                        Experimental and numerical approaches for optimizing conjunction area design to enhance
                        switching efficiency in single-nozzle multi-ink bioprinting systems. <i>International Journal of
                            Bioprinting</i>, <i>10</i>(5), 4091.
                        <br>
                        <a href="https://doi.org/10.36922/ijb.4091">https://doi.org/10.36922/ijb.4091</a>.
                        <i class="fa-solid fa-unlock" style="color: #fba52d;"></i> Open Access.
                    </li>

                    <li>Wildan Mubarok, <b>Colin Zhang</b>, and Shinji Sakai. (2024). 3D Bioprinting of Sugar Beet
                        Pectin
                        through Horseradish Peroxidase-Catalyzed Cross-Linking. <i>ACS Applied Bio Materials</i>,
                        <i>7</i>(5), 3506-3514. <a
                            href="https://doi.org/10.1021/acsabm.4c00418">https://doi.org/10.1021/acsabm.4c00418</a>.
                    </li>
                </ol>

                <h2>学会</h2>
                <ol>
                    <li>化学工学会第90年会、東京理科大学、2025年3月11日～14日<br>
                        講演題目：<u>AIを用いた3Dバイオプリンティングにおける印刷性能最適化</u><br>
                        (学)<b>Zhang Colin</b>・(学)Elvitigala Kelum・(正)境 慎司 <a
                            href="https://www4.scej.org/meeting/90a/prog/progsearch.html?Ae=Zhang%20Colin"><i
                                class="fas fa-external-link-alt"></i></a>
                    </li>
                    <li>
                        化学工学会第55回秋季大会、北海道大学、2024年9月10日～13日<br>
                        講演題目：<u>機械学習を用いた押出型3Dバイオプリンティングにおける細胞生存率の予測モデリング</u> <b>[<a
                                href="https://www.scej.org/news/detail/23235/"> 注目講演 (1130件中の22件)</a>]</b><br>
                        (学)<b>Zhang Colin</b>・(正)岡野 泰則・(正)境 慎司 <a
                            href="https://www4.scej.org/meeting/55f/prog/progsearch.html?Ae=Zhang%20Colin"><i
                                class="fas fa-external-link-alt"></i></a>

                    </li>
                    <li>化学工学会第53回秋季大会、信州大学、2022年9月14日～16日<br>
                        講演題目：<u>3D押し出しバイオプリンティングに関する流体せん断応力、印刷効率、細胞生存率に関する数値解析</u><br>
                        (学)<b>Zhang Colin</b>・(学)日髙 光將・(正)小嶋 勝・(正)境 慎司・(正)岡野 泰則 <a
                            href="https://www4.scej.org/meeting/53f/prog/progsearch.html?Ae=Zhang%20Colin"><i
                                class="fas fa-external-link-alt"></i></a>
                    </li>
                </ol>


                <h2>オンラインコース修了証明書</h2>
                <ul>
                    <li><a href="https://credentials.edx.org/credentials/de023108bbbb4963a80cb58da484beb3">Computer
                            Science for Artificial Intelligence <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="https://courses.edx.org/certificates/c71f1d7e284248b4a319b8a0022d2cea">CS50AI:
                            Introduction to Artificial Intelligence with Python <i
                                class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="https://courses.edx.org/certificates/ed6f315937ee4635a6aadef4830270ac">CS50x:
                            Introduction to Computer Science <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a
                            href="https://www.coursera.org/account/accomplishments/verify/9QC5KA9F9STU?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=pdf_header_button&utm_product=course">Mathematics
                            for Machine Learning: Linear Algebra <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="https://www.udemy.com/certificate/UC-5a9258b1-d5c0-4a32-85db-a622985fb445/">The Git &
                            Github Bootcamp <i class="fas fa-external-link-alt"></i></a></li>
                </ul>

                <a href="#" id="back-to-top" style="display: none;" class="back-to-top custom-button" role="button">
                    <i class="fas fa-chevron-up"></i>
                </a>

                <h2>連絡先</h2>
                <p>以下のPythonスクリプトを実行することで、ASCIIから文字列への変換を利用して私に連絡を取ることができます:</p>
                <div class="language-plaintext highlighter-rouge">
                    <div class="highlight code-container">
                        <button class="copy-button" data-clipboard-target="#python-code">
                            <i class="fas fa-copy"></i>
                        </button>
                        <pre
                            class="highlight"><code id="python-code" class="command">"".join(chr(i) for i in (107, 111, 114, 105, 110, 46, 106, 97, 112, 97, 110, 64, 103, 109, 97, 105, 108, 46, 99, 111, 109))</code></pre>
                    </div>
                </div>

                <p>または、ブラウザのコンソールで直接実行できるJavaScriptバージョン:</p>
                <div class="language-plaintext highlighter-rouge">
                    <div class="highlight code-container">
                        <button class="copy-button" data-clipboard-target="#js-code">
                            <i class="fas fa-copy"></i>
                        </button>
                        <pre
                            class="highlight"><code id="js-code" class="command">String.fromCharCode(107, 111, 114, 105, 110, 46, 106, 97, 112, 97, 110, 64, 103, 109, 97, 105, 108, 46, 99, 111, 109);</code></pre>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="../../js/change-theme.js"></script>
    <script src="../../js/sidebar-toggle.js"></script>
    <script src="../../js/calendar-ja.js"></script>
    <script src="../../js/get-nhk-news.js"></script>
    <script src="../../js/back-to-top-toggle.js"></script>
    <script src="../../js/copy-code.js"></script>

</body>

</html>